@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fff7ed;
  /* Orange-100 */
  color: #ea580c;
  /* Orange-600 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.02em;
}